#chart-canvas {

}

#pie-canvas {

}

.bw-bam-header {
    height: 60px;
}

.navbar-brand {
    padding: 0;
}

.clickable{
    cursor: pointer;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}